.form-group-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 400px;
}
h4 {
    margin: 10px 0;
}
button {
    margin-top: 20px;
}

@media only screen and (max-width: 500px) {
    .form-group-wrapper{
        width: 90vw;
    }
}